body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

#previewContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

#previewContainer img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 10px;
  margin: 20px;
  justify-content: center;
}

.grid img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  cursor: grab;
  border-radius: 6px;
}

.dropzone {
  min-height: 150px;
  border: 2px dashed #555;
  padding: 10px;
}

#slideshow img {
  width: 400px;
  margin-top: 20px;
}


/* Load Json Button */

.loadBtn{
  padding:10px 10px;
  background-color:#b8570e;
  color:white;
  border-radius:4px;
  cursor:pointer;
  font-size:12px;
  }
  
  .loadBtn:hover{
  background-color:#218838;
  }